<style>
tr{
	font-size: 13px;
}
</style>


<div class="container mb-4 mt-4">
<br>
<h2>About</h2>
<p> 
<span class="lead"><b>Sympa</b> - Symfony based blog with user login. </span>
<br>
Project created by <a href="https://damir-sijakovic.web.app/">Damir Sijakovic</a> 
</p>

<a class="dropdown-item" href="/product-demo"><i class="bi bi-link-45deg"></i> Product UI demo</a>
<a class="dropdown-item" href="/product-list-demo"><i class="bi bi-link-45deg"></i> Product list UI demo</a>
<a class="dropdown-item" href="/shopping-cart-demo"><i class="bi bi-link-45deg"></i> Shopping cart demo</a>
<a class="dropdown-item" href="/product-checkout-demo"><i class="bi bi-link-45deg"></i> Shopping checkout demo</a>

</div>
