<style>
tr{
	font-size: 13px;
}
</style>


<div class="container mb-4 mt-4">
<br>
<h2>About</h2>
<p> 
<span class="lead"><b>Sympa</b> - Symfony based blog with user login. </span>
<br>
Project created by <a href="https://damir-sijakovic.web.app/">Damir Sijakovic</a> 
</p>


</div>
