<style>
</style>


<div id="sympa-loader" class="container d-flex justify-content-center align-items-center" style="height: 500px; display:none !important;">
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
</div>


<div id="sympa-article" class="container">

    <br>
    <h1 id="sympa-title">{{title|raw}}</h1>
    <br><br>
    <p id="sympa-excerpt">{{excerpt|raw}}</p>
    <p id="sympa-content">{{content|raw}}</p>
    
</div>


<script>


</script>
