<style>

.ds-body-container{
	margin: 0 20%;
}

.ds-products-card-container{
	position: absolute;
	width: 100%;
}

.ds-products-onsale{
	position: inherit;
	background: yellow;
	height: 50px;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	top: 10px;
	left: 10px;
	font-size: 14px;
	font-weight: bold;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.ds-products-inside-right{
	position: inherit;
	background: white;
	height: 71px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	top: 10px;
	right: 10px;
	font-size: 19px;
	font-weight: bold;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	flex-direction: column;
}

.ds-card-body{
	align-content: end;
}


</style>





<br><br>

<div class="ds-body-container">

  
  
  
<div class="card-group">	
  <div class="card">
	  <div class="ds-products-card-container">
		  <!--div class="ds-products-onsale">-25%</div-->
		  <div class="ds-products-inside-right"><i class="bi bi-heart"></i> <i class="bi bi-shuffle"></i></div>
	 </div>
	<img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigFyIhZSUZN_3RF2ZtYvnox81rdNAuihagtlxnehV0IDogJFwQKFpwtZ0CZglN0hwlskaEmzDDJZ_j5nnEem4V95LCm8ql9Dlk13iXOOUoF9qB5YIMremdgB2v9QOiZIk11j0zMeMBmKElAOt0J8s66DIR9Pxgsjc1xTTuie0cPLRZhpvs1K2Ja7jhMFvx/s1000/mikrovalna-gorenje-mo17e1s.jpg" class="card-img-top" alt="...">
    <div class="card-body ds-card-body">
      <h5 class="card-title">Daljinski upravljač za klimu univerzalni</h5>
      <p class="card-text"><i class="bi bi-check-circle"></i> Na zalihi</p>
      <div class="d-grid gap-2">
		<div class="btn btn-outline-warning">Dodaj u košaricu</div>		
      </div> 
    </div>    
    
    <div class="card-footer">
      <small class="text-body-secondary">Šifra: 51706</small>
    </div>		 
  </div>
  
  
  <div class="card">
	  <div class="ds-products-card-container">
		  <div class="ds-products-onsale">-25%</div>
		  <div class="ds-products-inside-right"><i class="bi bi-heart"></i> <i class="bi bi-shuffle"></i></div>
	 </div>
	<img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhFzDEdKpCeS4X7G9Ot3hE8Y_TtpYc26Pwp8dSHLNoC_mZyavUQ-k6T_tnkANOM6vdcFXm8nPxK-SWSz4ZsjiBWv7Ycu6A05YD9i-bUg00fKOozCNnIqeH5JW-7PFWoO-LUXYdPljR0cQ3NlX1lh7SHmBFMgtnTuZ7qRIk5EPtWYB0dTKF6UazID7hgZLeb/s1400/ok.jpg" class="card-img-top" alt="...">
    <div class="card-body ds-card-body">
      <h5 class="card-title">Daljinski upravljač za klimu univerzalni</h5>
      <p class="card-text"><i class="bi bi-check-circle"></i> Na zalihi</p>
      <div class="d-grid gap-2">
		<div class="btn btn-outline-warning">Dodaj u košaricu</div>		
      </div> 
    </div>    
    
    <div class="card-footer">
      <small class="text-body-secondary">Šifra: 51706</small>
    </div>		 
  </div>
  
  
  <div class="card">
	  <div class="ds-products-card-container">
		  <!-- div class="ds-products-onsale">-25%</div-->
		  <div class="ds-products-inside-right"><i class="bi bi-heart"></i> <i class="bi bi-shuffle"></i></div>
	 </div>
	<img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgBVkf9Uc1AfO7i4VLeHm2lCYEhglMg03RKfE2tt_mnE7JEkp6AEXHfKICO7fyd9Jq7TZQy2i-vEKRV-5xs2eqIXtFNCytRQw0z4g4rdXckYMdhBauHuJGyXtr6mDdFswxaNNBkQwc4FNO2djRjVYSgzW-h5VVTARnEzetbx7bK4J2wcqMzKW0My7W9d_8d/s1000/radio-budilica-muse-m-16-cr.jpgg" class="card-img-top" alt="...">
    <div class="card-body ds-card-body">
      <h5 class="card-title">Daljinski upravljač za klimu univerzalni</h5>
      <p class="card-text"><i class="bi bi-x-circle"></i> Nema na zalihi</p>
      <div class="d-grid gap-2">
		<div class="btn btn-outline-warning">Dodaj u košaricu</div>		
      </div> 
    </div>    
    
    <div class="card-footer">
      <small class="text-body-secondary">Šifra: 51706</small>
    </div>		 
  </div>
  
  
  
  
  
  
  <div class="card">
	  <div class="ds-products-card-container">
		  <!--div class="ds-products-onsale">-25%</div-->
		  <div class="ds-products-inside-right"><i class="bi bi-heart"></i> <i class="bi bi-shuffle"></i></div>
	 </div>
	<img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjOAoVavw0VAhU7HXb4JKsBv1FHOh41r7yQqPn935m0hmmoIMYMtmVC7fxAyCyFpkojbkOvgVRDADIE1cwKhpxQzIDomDu-Kb7Piiga2buQu-3i3Dk23qw4xF4LlFBxIgYv1a5hLHIhWcAODGm57gPTsK0slKUMyXnwojOo8ATC4JEnOXaCTAwSWFlBbySC/s1000/toster-preklopni-vox-sm-217.jpg" class="card-img-top" alt="...">
    <div class="card-body ds-card-body">
      <h5 class="card-title">Daljinski upravljač za klimu univerzalni</h5>
      <p class="card-text"><i class="bi bi-check-circle"></i> Na zalihi</p>
      <div class="d-grid gap-2">
		<div class="btn btn-outline-warning">Dodaj u košaricu</div>		
      </div> 
    </div>    
    
    <div class="card-footer">
      <small class="text-body-secondary">Šifra: 51706</small>
    </div>		 
  </div>
   
</div>	









  
<div class="card-group">	
  <div class="card">
	  <div class="ds-products-card-container">
		  <!--div class="ds-products-onsale">-25%</div-->
		  <div class="ds-products-inside-right"><i class="bi bi-heart"></i> <i class="bi bi-shuffle"></i></div>
	 </div>
	<img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigFyIhZSUZN_3RF2ZtYvnox81rdNAuihagtlxnehV0IDogJFwQKFpwtZ0CZglN0hwlskaEmzDDJZ_j5nnEem4V95LCm8ql9Dlk13iXOOUoF9qB5YIMremdgB2v9QOiZIk11j0zMeMBmKElAOt0J8s66DIR9Pxgsjc1xTTuie0cPLRZhpvs1K2Ja7jhMFvx/s1000/mikrovalna-gorenje-mo17e1s.jpg" class="card-img-top" alt="...">
    <div class="card-body ds-card-body">
      <h5 class="card-title">Daljinski upravljač za klimu univerzalni</h5>
      <p class="card-text"><i class="bi bi-check-circle"></i> Na zalihi</p>
      <div class="d-grid gap-2">
		<div class="btn btn-outline-warning">Dodaj u košaricu</div>		
      </div> 
    </div>    
    
    <div class="card-footer">
      <small class="text-body-secondary">Šifra: 51706</small>
    </div>		 
  </div>
  
  
  <div class="card">
	  <div class="ds-products-card-container">
		  <div class="ds-products-onsale">-25%</div>
		  <div class="ds-products-inside-right"><i class="bi bi-heart"></i> <i class="bi bi-shuffle"></i></div>
	 </div>
	<img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhFzDEdKpCeS4X7G9Ot3hE8Y_TtpYc26Pwp8dSHLNoC_mZyavUQ-k6T_tnkANOM6vdcFXm8nPxK-SWSz4ZsjiBWv7Ycu6A05YD9i-bUg00fKOozCNnIqeH5JW-7PFWoO-LUXYdPljR0cQ3NlX1lh7SHmBFMgtnTuZ7qRIk5EPtWYB0dTKF6UazID7hgZLeb/s1400/ok.jpg" class="card-img-top" alt="...">
    <div class="card-body ds-card-body">
      <h5 class="card-title">Daljinski upravljač za klimu univerzalni</h5>
      <p class="card-text"><i class="bi bi-check-circle"></i> Na zalihi</p>
      <div class="d-grid gap-2">
		<div class="btn btn-outline-warning">Dodaj u košaricu</div>		
      </div> 
    </div>    
    
    <div class="card-footer">
      <small class="text-body-secondary">Šifra: 51706</small>
    </div>		 
  </div>
  
  
  <div class="card">
	  <div class="ds-products-card-container">
		  <!-- div class="ds-products-onsale">-25%</div-->
		  <div class="ds-products-inside-right"><i class="bi bi-heart"></i> <i class="bi bi-shuffle"></i></div>
	 </div>
	<img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgBVkf9Uc1AfO7i4VLeHm2lCYEhglMg03RKfE2tt_mnE7JEkp6AEXHfKICO7fyd9Jq7TZQy2i-vEKRV-5xs2eqIXtFNCytRQw0z4g4rdXckYMdhBauHuJGyXtr6mDdFswxaNNBkQwc4FNO2djRjVYSgzW-h5VVTARnEzetbx7bK4J2wcqMzKW0My7W9d_8d/s1000/radio-budilica-muse-m-16-cr.jpgg" class="card-img-top" alt="...">
    <div class="card-body ds-card-body">
      <h5 class="card-title">Daljinski upravljač za klimu univerzalni</h5>
      <p class="card-text"><i class="bi bi-x-circle"></i> Nema na zalihi</p>
      <div class="d-grid gap-2">
		<div class="btn btn-outline-warning">Dodaj u košaricu</div>		
      </div> 
    </div>    
    
    <div class="card-footer">
      <small class="text-body-secondary">Šifra: 51706</small>
    </div>		 
  </div>
  
  
  
  
  
  
  <div class="card">
	  <div class="ds-products-card-container">
		  <!--div class="ds-products-onsale">-25%</div-->
		  <div class="ds-products-inside-right"><i class="bi bi-heart"></i> <i class="bi bi-shuffle"></i></div>
	 </div>
	<img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjOAoVavw0VAhU7HXb4JKsBv1FHOh41r7yQqPn935m0hmmoIMYMtmVC7fxAyCyFpkojbkOvgVRDADIE1cwKhpxQzIDomDu-Kb7Piiga2buQu-3i3Dk23qw4xF4LlFBxIgYv1a5hLHIhWcAODGm57gPTsK0slKUMyXnwojOo8ATC4JEnOXaCTAwSWFlBbySC/s1000/toster-preklopni-vox-sm-217.jpg" class="card-img-top" alt="...">
    <div class="card-body ds-card-body">
      <h5 class="card-title">Daljinski upravljač za klimu univerzalni</h5>
      <p class="card-text"><i class="bi bi-check-circle"></i> Na zalihi</p>
      <div class="d-grid gap-2">
		<div class="btn btn-outline-warning">Dodaj u košaricu</div>		
      </div> 
    </div>    
    
    <div class="card-footer">
      <small class="text-body-secondary">Šifra: 51706</small>
    </div>		 
  </div>
   
</div>	













</div>



	  
