<h2>Articles</h2>

<hr>

<a href="/dashboard/article-create" class="btn btn-primary btn-lg">Create</a>

<br><br>

<div id="ds-no-article-list" class="alert alert-primary" role="alert" style="display:none">
  There is no articles!
</div>

<ul id="ds-article-list" class="list-group mb-3">
          
          <!--
        <li class=
          "list-group-item d-flex justify-content-between">
            <div href="button" class="btn btn-primary btn-sm">Small button</div>
            <strong>20</strong>
          </li>
  
          
          <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
            <div class="">
              <h6 class="my-0">Promo code</h6>
              <small>EXAMPLECODE</small>
            </div>            
            <span class="text-success">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                  <button type="button" class="btn btn-primary btn-sm">Edit</button>
                  <button type="button" class="btn btn-outline-primary btn-sm">Delete</button>
                </div>            
            </span>
          </li>
          
                    
          <li class=
          "list-group-item d-flex justify-content-between">
            <span>Total:</span>
            <strong id="ds-total-articles"></strong>
          </li>
          
          -->   
          
         <li class="list-group-item d-flex justify-content-between">
            
        </li> 
 </ul>

<nav aria-label="Page navigation example" id="ds-pagination">
<!--
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link active" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
-->
</nav>

<!-- MODALS -->

<div class="modal ds-modal" id="ds-delete-single-modal" style="display:none;">
  <div class="modal-dialog">
    <div class="modal-content ds-huge-shadow ds-animate-opacity">
      <div class="modal-header">
        <h5 class="modal-title">Warning!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="document.getElementById('ds-delete-single-modal').style.display='none'"></button>
      </div>
      <div class="modal-body">
        <p>Do you want to delete post?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="document.getElementById('ds-delete-single-modal').style.display='none'">Cancel</button>
        <button type="button" class="btn btn-danger" onclick="ds_deleteArticleModalAction()">Delete</button>
      </div>

	<div class="alert alert-warning alert-dismissible fade show" role="alert" style="display:none; margin-bottom: 0;">
	   <span id="ds-bulk-delete-modal-message"> Hello</span> 
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ></button>
	</div>

    </div>
  </div>
</div>



<script>

function ds_deleteArticleModal(id){
    let targetElement = document.getElementById("ds-delete-single-modal");
    targetElement.style.display = "block";
    targetElement.setAttribute("data-id", id);
}


async function ds_deleteArticleModalAction()
{   
    let targetElement = document.getElementById("ds-delete-single-modal");
    const id = targetElement.getAttribute("data-id"); 
    
    let postData = new FormData();  
    postData.append('id', id);

    const response = await fetch('/article-delete', {
        method: 'POST', 
        body: postData,
    });

    const jsonData = await response.json();
	if (response.status != 200) {		
		return null;
	}
    else{
        ds_message("Article deleted!", "success");
        setTimeout(function () {
            window.location.reload();
		}, 2000);
    }
           
    return;
    
    
    /*
    let targetElement = document.getElementById("ds-delete-single-modal");
    const id = targetElement.getAttribute("data-id");

    const response = await fetch('/article-delete/'+ id); 
	const jsonData = await response.json();
	if (response.status != 200) {		
		return null;
	}
    else{
        ds_message("Failed to delete article!");
    }
           
    return;
    */
    
    /*
    const response = await fetch('/article-get-all?page=' + page + '&per_page=' + perPage + '&sort=' + sort); // /article-get-all
	const jsonData = await response.json();
	if (response.status != 200) {
		console.log('ERROR!');
		return null;
	}
    
    if (!jsonData.articles){
        throw new Error("Missing 'articles' object. Bad json format!");
    }
    
    // console.log( jsonData );    
    // ds-no-categories-found
    
    return jsonData;
    */
}


function ds_drawList(data)
{      
    let _createItem = function(x){
       
        let id = x.id;
        let title = x.title;
        let excerpt = x.excerpt;
        
        return `
        <li class="list-group-item d-flex justify-content-between bg-body-tertiary" title="ID: ${id}">
            <div class="">
              <div style="display: flex;"> <span style="font-size: smaller; margin-right: 5px;">(${id})</span> <h6 class="my-0">${title}</h6></div>
              <small>${excerpt}</small>
            </div>            
            <span class="text-success">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                  <a href="/dashboard/article-edit/${id}" class="btn btn-primary btn-sm" target="_blank">Edit</a>
                  <div onclick="ds_deleteArticleModal(${id})" class="btn btn-outline-primary btn-sm">Delete</div>
                </div>            
            </span>
          </li>
        `;        
    }
    
    let htmlData = `
        <li class="list-group-item d-flex justify-content-between"> 
        </li>   
    `;
    
    let listElement = document.getElementById("ds-article-list");     
    
    for (const key in data.articles) {
        htmlData += _createItem(data.articles[key]);
    }
    
    htmlData += `
        <li class="list-group-item d-flex justify-content-between">
            <span>Total:</span>
            <strong id="ds-total-articles"></strong>
        </li>   
    `;
    
    listElement.innerHTML = htmlData;
    
    let totalArticlesElement = document.getElementById("ds-total-articles");
    totalArticlesElement.innerHTML = data.total;
    
   
}


function ds_paginate(data){    
    const {
		currentPage,
		firstPage,
		indexOffset,
		indexRowCount,
		itemNumber,
		lastPage,
		nextPage,
		numberOfPages,
		perPage,
		prevPage,
		visibleEndPage,
		visibleStartPage
	} = data;
    
    console.log("yyy", data)
    
    let htmlData = `
        <ul class="pagination">    
    `;
         
        
	if (currentPage === 1){
		htmlData += `
            <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li> 
        `;
	}
	else{
		let prevPage = currentPage-1;
		htmlData += `
            <li class="page-item">
            <a class="page-link" onclick="ds_repaginate(${prevPage}, ${perPage})" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li> 
        `; 
	}
	               
         
   for (let i=visibleStartPage; i<visibleEndPage+1; i++){
		let targetPage = i;
		
		if (i === currentPage){	
			htmlData += `<li class="page-item active"><a class="page-link" onclick="ds_repaginate(${i}, ${perPage})" >${i}</a></li>`;
		}
		else
		{
			htmlData += `<li class="page-item"><a class="page-link" onclick="ds_repaginate(${i}, ${perPage})" >${i}</a></li>`;
		}
		
	}     
         
    if (visibleEndPage > currentPage){
		let nextPage = currentPage+1;
		htmlData += `<li class="page-item"><div class="page-link" onclick="ds_repaginate(${nextPage}, ${perPage})" aria-label=""><span aria-hidden="true">&raquo;</span></div></li>`;
	}
	else{
		htmlData += `<li class="page-item disabled"><div class="page-link" onclick="" aria-label=""><span aria-hidden="true">&raquo;</span></div></li>`;
	}
   

         
    htmlData += `
        </ul>    
    `;
    
    document.getElementById("ds-pagination").innerHTML = htmlData;
    
}


async function ds_getArticles(page=1, perPage=3, sort='desc')
{      
    const response = await fetch('/article-get-all?page=' + page + '&per_page=' + perPage + '&sort=' + sort); // /article-get-all
	const jsonData = await response.json();
	if (response.status != 200) {
		console.log('ERROR!');
		return null;
	}
    
    if (!jsonData.articles){
        throw new Error("Missing 'articles' object. Bad json format!");
    }
    
    // console.log( jsonData );    
    // ds-no-categories-found
    
    return jsonData;
}


async function ds_repaginate(page=1, perPage=3, sort='desc')
{      
   	const data = await ds_getArticles(page, perPage, sort);
    
    if (data.total === 0){
        document.getElementById("ds-article-list").style.display = 'none';  
        document.getElementById("ds-no-article-list").style.display = 'block'; 
        return;         
    }
            
	ds_drawList(data);	
    ds_paginate(data.paginateData);
}


async function ds_initList()
{      
    await ds_repaginate(1, 10);
}

//MAIN
window.addEventListener("load", async function() {
    await ds_initList();
});

</script>




