<h2>Docs</h2>
<hr>

<h4>API</h4>
<p>As reference, here are our primary CDN links.</p>

<div class="table-responsive"><table class="table">
<thead>
<tr>
<th>Route</th>
<th>Descripton</th>
</tr>
</thead>
<tbody>

<tr>
<td>/home</td>
<td><code>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
</code></td>
</tr>

<tr>
<td>/about</td>
<td><code>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
</code></td>
</tr>


</tbody>
</table></div>
