<h2>Dashboard home</h2>


<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
  <div class="list-group">
  
    <a target="_blank" href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <i style="font-size:32px" class="bi bi-award sympa-wobble"></i>
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Bootstrap 5.3</h6>
          <p class="mb-0 opacity-75">Bootstrap is a powerful, feature-packed frontend toolkit. Build anything—from prototype to production—in minutes.</p>
        </div>
        <small class="opacity-50 text-nowrap"><i class="bi bi-arrow-up-right"></i></small>
      </div>
    </a>
    
    <a target="_blank"  href="https://icons.getbootstrap.com/" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <i style="font-size:32px" class="bi bi-award sympa-wobble"></i>
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Bootstrap Icons</h6>
          <p class="mb-0 opacity-75">Free, high quality, open source icon library with over 2,000 icons.</p>
        </div>
        <small class="opacity-50 text-nowrap"><i class="bi bi-arrow-up-right"></i></small>
      </div>
    </a>
    
    <a target="_blank" href="https://www.jqueryscript.net/" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <i style="font-size:32px" class="bi bi-award sympa-wobble"></i>
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">JQueryScript</h6>
          <p class="mb-0 opacity-75">10000+ latest Free jQuery plugins with examples and tutorials for web & mobile developers.</p>
        </div>
        <small class="opacity-50 text-nowrap"><i class="bi bi-arrow-up-right"></i></small>
      </div>
    </a>
    
    <a target="_blank" href="https://duck.ai/" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <i style="font-size:32px" class="bi bi-award sympa-wobble"></i>
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">DuckDuckGo AI</h6>
          <p class="mb-0 opacity-75">DuckDuckGo AI Chat lets you have anonymous conversations with different AI chat models, such as Claude 3 Haiku, Mixtral 8x7B, ChatGPT 3.5 Turbo, and Llama 3 70B. </p>
        </div>
        <small class="opacity-50 text-nowrap"><i class="bi bi-arrow-up-right"></i></small>
      </div>
    </a>
    
  </div>
</div>
