<h2>Orders</h2>
<hr>


Not working yet!

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Code</th>
      <th scope="col">Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>345345</td>
      <td>23-10-24</td>
      <td><button type="button" class="btn btn-primary btn-sm">Small button</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>34534534</td>
      <td>23-10-24</td>
      <td><button type="button" class="btn btn-primary btn-sm">Small button</button></td>
    </tr>
  </tbody>
</table>
